.spacer {
    margin-top: 1em;
}

.spacer-left {
    margin-left: 1em;
}

.form-control[readonly].password-control {
    cursor: text;
}

.alert-bar {
	display: none;
	position: fixed;
	width: 100%;
	z-index: 999;
}